.header {
    margin-top: 24px;
    text-align: center;
    font-size: 48px;
    color:white;
    -webkit-text-stroke: 2px rgb(102, 37, 167);
}
.block_head {
    margin: 10px;
    margin-left: 24px;
    font-size: 24px;
    font-weight: bold;
}
.block_text {
    margin: 10px;
    margin-left: 36px;
    font-size: 18px;
}
.block_list {
    font-size: 18px;
}